#contenedor{
    margin-top: 1.4em;
    background: #074c92; 
    border-radius: 1em;
    box-shadow:  .5em .5em 1em #068bc3;

}

body{
    width: 95%;
    margin: auto;
    background: url('../img/img3.jpg'); 
    background-size: cover;
}

.container{

  width: 90%;
}

.salto{
  
  margin-top: 1em;

}